<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565137695259-lgbc2c5ho8um0ndcb1h8fjq6nnb3i3ne.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565137695259-lgbc2c5ho8um0ndcb1h8fjq6nnb3i3ne</string>
	<key>API_KEY</key>
	<string>AIzaSyCE9OTu9q5oq7_Ne_JAiPX77y1IUPDLFEY</string>
	<key>GCM_SENDER_ID</key>
	<string>565137695259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pratik.demo.MessageRx</string>
	<key>PROJECT_ID</key>
	<string>messenger-2ee11</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-2ee11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:565137695259:ios:062f0bd59473b5b1cacebe</string>
	<key>DATABASE_URL</key>
	<string>https://messenger-2ee11-default-rtdb.firebaseio.com</string>
</dict>
</plist>
